<div *ngIf="dataLoaded==false" class="spinner-grow text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<ul *ngIf="dataLoaded==true" class="list-group">
    
  <li class="list-group-item" style="background-color:royalblue"><h4 style="font-weight: 500; color:rgb(255, 255, 255);">Markalar</h4></li>

  <li (click) ="setCurrentBrand(brand)" 
  routerLink = "/cars/brands/{{brand.brandId}}"
  *ngFor="let brand of brands;" 
  [class]="getCurrentBrandClass(brand)" >{{ brand.brandName}}</li>

</ul>

