<div class="card mb-2">
    <div class="card-header text-center">
       <strong>Araç Listesi</strong>
</div>

<div class="card-body"> 

<div *ngIf="dataLoaded==false" class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div><br>

<app-car-filter></app-car-filter>

<!-- 
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"></label>
    <input type="text" [(ngModel)]="filterText"
    class="form-control" id="filterText" 
    placeholder="Arayacağınız Arabayı Giriniz">
</div> -->

<div class="row">
    <div class="card" *ngFor="let car of cars" style="width: 18rem;"><br>
        <div class="card-body">
            <h5 class="card-title text-center">{{car.brandName | uppercase}}</h5>
        </div>
        <ul class="list-group list-group-flush" >
            <li class="list-group-item text-center">{{car.model}}</li>
            <li class="list-group-item text-center">{{car.modelYear}}</li>
            <li class="list-group-item text-center">{{car.description}}</li>
            <li class="list-group-item text-center ">Günlük Fiyat : {{car.dailyPrice | currency:"₺"}} </li>
            <li class="list-group-item text-center ">Haftalık Fiyat : {{car.dailyPrice | weekPrice:100 | currency:"₺"}} </li>
            <li class="list-group-item text-center">Aylık Fiyat : {{car.dailyPrice | monthPrice:300 | currency:"₺"}} </li>
        </ul>
        <div class="card-body">
            <section style="float:left">
                <button type="button" class="btn btn-ligth">Kirala</button>
            </section>
        </div>   
    </div>
</div>

