<div class="card mb-2">
    <div class="card-header text-center">
       <strong>Müşteriler</strong>
</div>

<div *ngIf="dataLoaded==false" class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf="dataLoaded==true" class="table">
    <thead class="table-dark">
    <tr>
       <th scope="col">#</th>
       <th scope="col">Kullanıcı No.</th>
       <th scope="col">Şirket Adı</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let customer of customers">
        <td>{{customer.customerId}}</td>
        <td>{{customer.userId}}</td>
        <td>{{customer.companyName}}</td>
    </tr>
    </tbody>
</table> 
