<div class="content"><br>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Araba Güncelle</h5></div>
            <div class="card-body">
                <form [formGroup]="carUpdateForm">
                    <div class="mb-3">
                        <label for="carId">Araba Numarası</label>
                        <div class="form-group">
                            <input type="number" 
                            id="carId" 
                            formControlName="carId" class="form-control" 
                            placeholder="Araba Numarası"/>
                        </div>
                    </div>
                   
                    <div class="mb-3">
                        <label for="brandId">Marka Numarası</label>
                        <div class="form-group">
                            <input type="number" 
                            id="brandId" 
                            formControlName="brandId" class="form-control" 
                            placeholder="Marka Numarası"/>
                        </div>
                    </div>

                   <div class="mb-3">
                    <label for="colorId">Renk Numarası</label>
                    <div class="form-group">
                        <input type="number" 
                        id="colorId" 
                        formControlName="colorId" class="form-control" 
                        placeholder="Renk Numarası"/>
                    </div>
                   </div>

                   <div  class="mb-3">
                    <label for="modelYear">Model</label>
                    <div class="form-group">
                        <input type="text" 
                        id="model" 
                        formControlName="model" class="form-control" 
                        placeholder="Model"/>
                    </div>
                </div>

                    <div  class="mb-3">
                        <label for="modelYear">Model Yılı</label>
                        <div class="form-group">
                            <input type="text" 
                            id="modelYear" 
                            formControlName="modelYear" class="form-control" 
                            placeholder="Model Yılı"/>
                        </div>
                    </div>

                    <div  class="mb-3">
                        <label for="dailyPrice">Günlük Fiyat</label>
                        <div class="form-group">
                            <input type="number" 
                            id="dailyPrice" 
                            formControlName="dailyPrice" class="form-control" 
                            placeholder="Günlük Fiyat"/>
                        </div>
                    </div>

                    <div  class="mb-3">
                        <label for="description">Açıklama</label>
                        <div class="form-group">
                            <input type="text" 
                            id="description" 
                            formControlName="description" class="form-control" 
                            placeholder="Açıklama"/>
                        </div>
                    </div>
                    
                </form>
            </div>

            <div class="card-footer">
                <div class="d-grid gap-2">
                    <button class="btn btn-fill btn-warning" (click)="update()">Güncelle</button>
                </div> 
            </div>

        </div>
    </div>
</div>